#list-box {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 16px;
    .habit-component {
        background-color: #f9f9f9;
        border: 1px solid gray;
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        width: fit-content;
    }
}

button {
  width: fit-content;
}